<div class="col-12 mb-7 d-flex align-items-center">
	<a class="d-flex align-items-center ms-auto" th:href="@{/Delegaciones/new}">
		<span class="material-icons me-2">group_work</span>
		<span class="text-secondary" th:text="#{view.delegaciones.search.button.new}"></span> 
	</a>
</div>
<div class="col-12">
	<table id="delegacionesListTable"
		class="hover w-100 table dt-responsive nowrap">
		<thead>
			<tr>
				<th th:text="#{view.delegaciones.search.name}"></th>
				<th></th>
			</tr>
		</thead>
	    <input type="hidden" id="languageTable" th:value="${#locale}"/>
	</table>
</div>
