<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:attr="lang=${#locale}">
<title> Registrar formulario</title>
<head>
<meta charset="UTF-8">
	<th:block th:insert="fragments/head/head :: default">[Head default]</th:block>
    <th:block th:insert="fragments/head/head :: datatable">[Head datatable]</th:block>
	<th:block th:insert="fragments/head/head :: notification">[Head notification]</th:block>
	<th:block th:insert="fragments/head/head :: form">[Head Form]</th:block>
	<th:block th:insert="fragments/head/head :: app">[Head app]</th:block>	
</head>

<body>
<div align="center">
	<h2>Registration Succeeded!</h2>
	<span>Fecha apertura:</span><span th:text="${user.opendate}"></span><br/>
	<span>Pais:</span><span th:text="${user.country}"></span><br/>
	<span>Delegacion origen:</span><span th:text="${user.delegationorigin}"></span><br/>
	<span>Delegacion destino:</span><span th:text="${user.delegationdestiny}"></span><br/>
	<span>Nombre delegacion:</span><span th:text="${user.namedelegation}"></span><br/>
	<span>Direccion:</span><span th:text="${user.adress}"></span><br/>
	<span>Poblacion:</span><span th:text="${user.city}"></span><br/>
	<span>CP España/Portugal:</span><span th:text="${user.cp}"></span><br/>
	<span>Provincia:</span><span th:text="${user.province}"></span><br/>
	<span>Nif/Dni:</span><span th:text="${user.dni}"></span><br/>
	<span>Horario apertura:</span><span th:text="${user.time_open}"></span><br/>
	<span>Horario cierre:</span><span th:text="${user.time_closed}"></span><br/>
	<span>Latitud:</span><span th:text="${user.geolat}"></span><br/>
	<span>Longitud:</span><span th:text="${user.geolong}"></span><br/>
	<span>Reexpedir:</span><span th:text="${user.forward}"></span><br/>
	<span>Recoger:</span><span th:text="${user.pickup}"></span><br/>
	<span>Alta usuarios:</span><span th:text="${user.highuser}"></span><br/>
	<span>Alta conductores:</span><span th:text="${user.highdrivers}"></span><br/>
	<span>Alta usuarios SGP:</span><span th:text="${user.highusersgp}"></span><br/>
	<span>Alta usuarios supervisores SGP:</span><span th:text="${user.highusersupervisorsgp}"></span><br/>
	<span>Alta rutas SGP:</span><span th:text="${user.highroutessgp}"></span><br/>
	<span>Alta CP a migrar:</span><span th:text="${user.cptomigrate}"></span><br/>
	<span>Rutas a migrar SGP:</span><span th:text="${user.routestomigratesgp}"></span><br/>
	<span>Clientes a migrar:</span><span th:text="${user.clientstomigrate}"></span><br/>
	<span>Equivalencia conductores:</span><span th:text="${layout-form.equivalence}"></span><br/>
</div>
	
</body>
</html>