<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:attr="lang=${#locale}">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/head/head :: default">[Head default]</th:block>
    <th:block th:insert="fragments/head/head :: datatable">[Head datatable]</th:block>
	<th:block th:insert="fragments/head/head :: notification">[Head notification]</th:block>
	<th:block th:insert="fragments/head/head :: form">[Head Form]</th:block>
	<th:block th:insert="fragments/head/head :: app">[Head app]</th:block>
</head>

<body class="overflow-y-auto">
	<div th:replace="fragments/headers/header">[Cabecera]</div>
	<div class="container-fluid px-6 px-md-11 py-10">
		<div class="row">
	    	<nav th:replace="fragments/menu/navbar-menu">[Menu]</nav>	
	    </div>
			<h2 th:text="#{view.delegation.title}" class="bg-secondary text-primary text-center rounded-3"></h2>
			<br>
			<form name="f1" class="needs-validation" novalidate>			
			<h3 th:text="#{view.delegation.subtitle1}" class="bg-danger text-white rounded-3"></h3>			
				<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col-3">
						<label for="opendate" class="form-label">Fecha apertura</label>
							<input type="date" class="form-control is-valid border border-dark rounded" id="opendate" name="#{view.delegation.opendate}" required 
							min="1945-01-01" max="2022-12-31">
						<label class="text-danger">Introduzca una Fecha</label>
							<div class="valid-feedback">
      						Fecha ok!!!
    						</div>
    						<div class="invalid-feedback">
      						Fecha erronea!!!
    						</div>
						</div>
						<div class="col-3 offset-5">
						<label for="country" class="form-label">Pais</label>
							<select class="form-select is-valid border border-dark rounded" id="country" required onchange="cambia_provincia()">
  							<option value="0" selected>Seleccione pais</option>
  							<option value="1">España</option>
  							<option value="2">Portugal</option>
  							</select>
  						<label class="text-danger">Seleccione un pais</label>
  							<div class="valid-feedback">
      						Pais ok!!!
    						</div>
    						<div class="invalid-feedback">
      						Pais erroneo!!!
    						</div>
						</div>
					</div></br>					
					<div class="row">
						<div class="col-3">
						<label for="delegationorigin" class="form-label">Delegacion origen</label>
						<input type="text" class="form-do is-valid border border-dark rounded" id="delegationorigin" required th:value="#{view.delegation.delegationorigin}">
						<label class="text-danger">Selecciona delegacion</label>
							<div class="valid-feedback">
      						Delegacion origen ok!!!
    						</div>
    						<div class="invalid-feedback">
      						Delegacion origen erronea!!!
    						</div>
						</div>
						<div class="col-3 offset-5">
						<label for="delegationdestiny" class="form-label">Delegacion destino</label>
						<input type="text" class="form-dd is-valid border border-dark rounded"  id="delegationdestiny" placeholder="Introduce 3 digitos" maxlength="3" th:value="#{view.delegation.delegationdestiny}">
						<label class="text-danger">Codigo 3 digitos</label>
							<div class="valid-feedback">
      						Delegacion destino ok!!!
    						</div>
    						<div class="invalid-feedback">
      						Delegacion destino erronea!!!
    						</div>
						</div>
					</div>
					</div></br>
							
			<h3 th:text="#{view.delegation.subtitle2}" class="bg-danger text-white rounded-3"></h3>
				<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col-3">
						<label>Nombre delegacion</label>
						<input class="border border-dark rounded" type="text" id="delegationname" name="delegationname" th:value="#{view.delegation.namedelegation}">
						</div>
						<div class="col-3 offset-5">
						<label>Direccion</label>
						<input class="border border-dark rounded" type="text" id="delegationadress" name="delegationadress" th:value="#{view.delegation.adress}">
						</div>
					</div></br>
					<div class="row">
						<div class="col-3">
						<label>Poblacion</label>
						<input class="border border-dark rounded" type="text" id="city" name="city" th:value="#{view.delegation.city}">
						</div>
						<div class="col-3 offset-5">
						<label>CP</label>
						<input class="border border-dark rounded" type="text" id="cp" name="cp" th:value="#{view.delegation.cp}" onchange="validarCodigoPostal()">
						</div>
					</div></br>
					<div class="row">
						<div class="col-5">
						<label>Provincia</label>
						<select class="form-select border border-dark rounded col" name="provincia">	  						
	  						<option value="-">Seleccione una provincia	  									 						
						</select>
						</div>
					</div></br>										
					<div class="row">
						<div class="col-3">
						<label>Nif/dni</label>
						<input type="text" name="dni" id="dni" placeholder="DNI" maxlength="9" tabindex="4" 
						class="input-2 border border-dark rounded" onchange="nif()" onkeypress="return soloLetrasNumeros(event);">
						</div>
						<div class="col-3 offset-5">
						<label>Horario atencion</label>
						<input class="border border-dark rounded" type="text" id="time" name="time" th:value="#{view.delegation.time}">
						</div>
					</div></br>					
					<div class="row">
						<div class="col-3">
						<label>Geo latitud</label>
						<input class="border border-dark rounded" type="text" id="geolat" name="geolat" th:value="#{view.delegation.geolat}">
						</div>
						<div class="col-3 offset-5">
						<label>Geo longitud</label>
						<input class="border border-dark rounded" type="text" id="geolong" name="geolong" th:value="#{view.delegation.geolong}">
						</div>
					</div></br>					
					<div class="row">
						<div class="col-4">
						<label>reexpedir</label>
						<input type="checkbox" id="reexpedir" name="reexpedir">
						</div>
						<div class="col-4 offset-4">
						<label>recoger</label>
						<input type="checkbox" id="recoger" name="recoger">
						</div>
					</div></br>					
				</div></br>
			<h3 th:text="#{view.delegation.subtitle3}" class="bg-danger text-white rounded-3"></h3>
					<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col">
							<label>Alta usuario</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios"></textarea>
							</div>
						</div>
						<div class="col">
							<label>Alta conductores</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios"></textarea>
							</div>
						</div>
					</div></br>
					<div class="row">
						<div class="col">
							<label>Alta usuario SGP</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios SGP"></textarea>
							</div>
						</div>
						<div class="col">
							<label>Alta usuario supervisores SGP</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios supervisores SGP"></textarea>
							</div>
						</div>
					</div></br>
					<div class="row">
						<div class="col-6">
							<label>Alta rutas SGP</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta rutas SGP"></textarea>
							</div>
						</div></div></br>
					</div></br>
			<h3 th:text="#{view.delegation.subtitle4}" class="bg-danger text-white rounded-3"></h3>
					<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col">
							<label>CP a migrar</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="CP a migrar"></textarea>
							</div>
						</div>
						<div class="col">
							<label>Rutas a migrar SGP</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Rutas a migrar SGP"></textarea>
							</div>
						</div>
					</div></br>
					<div class="row">
						<div class="col">
							<label>Clientes a migrar</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Clientes a migrar"></textarea>
							</div>
						</div>
						<div class="col">
							<label>Equivalencia conductores</label>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Equivalencia conductores"></textarea>
							</div>
						</div>
					</div></br>
					</div>
			</form>
			</br>
	</div>
	<div class="d-flex justify-content-end">
	<button type="button" class="btn btn-light rounded-3">Cancelar</button>
	</div>
	<div class="d-flex justify-content-end">
	<button type="submit" class="btn btn-primary rounded-3">Aceptar</button>
	</div>
	<div th:replace="fragments/footers/footer">[Pie]</div>	
	</br>	
	
<script>
  var provincias_1=new Array("-","Asturias","Albacete","Alicante","Almeria","Alava","Avila",
		  "Badajoz","Baleares","Barcelona","Bizkaia","Burgos","Caceres","Cadiz","Cantabria",
		  "Castellon","Ciudad real","Cordoba","La Coruña","Cuenca","Guipuzkoa","Girona",
		  "Granada","Guadalajara","Huelva","Huesca","Jaen","Leon","Lleida","Lugo","Madrid",
		  "Malaga","Murcia","Navarra","Ourense","Palencia","Las Palmas","Pontevedra","La Rioja",
		  "Salamanca","Santa Cruz de Tenerife","Segovia","Sevilla","Soria","Tarragona","Teruel",
		  "Toledo","Valencia","Valladolid","Zamora","Zaragoza","Ceuta","Melilla");
					

  var provincias_2=new Array("-","Valença","Viana","Braga","Barcelos","Guimarães","Porto",
		  "Penafiel","Bragança","Miranda","Moncorvo","Vila Real","Feira","Aveiro","Lamego",
		  "trancoso","Pinhel","Guarda","Linhares","Viseu","Castelo branco","Arganil","Coimbra",
		  "Leiria","Ourem","Cinco Vilas","Tomar","Santarém","Alcobaça","Alenquer",
		  "Torres Vedras","Ribatejo","Lisboa","Setubal","Crato","Portalegre","Vila Viçosa",
		  "Avis","Elvas","Évora","Beja","Ourique","Lagos","Faro","Tavira");
 
  var todasProvincias = [
    [],
    provincias_1,
    provincias_2,
  ];

  function cambia_provincia(){ 
   	//tomo el valor del select del pais elegido 
   	var country 
   	country = document.f1.country[document.f1.country.selectedIndex].value 
   	//miro a ver si el pais está definido 
   	if (country != 0) { 
      	//si estaba definido, entonces coloco las opciones de la provincia correspondiente. 
      	//selecciono el array de provincia adecuado 
      	mis_provincias=todasProvincias[country]
      	//calculo el numero de provincias 
      	num_provincias = mis_provincias.length 
      	//marco el número de provincias en el select 
      	document.f1.provincia.length = num_provincias 
      	//para cada provincia del array, la introduzco en el select 
      	for(i=0;i<num_provincias;i++){ 
         	document.f1.provincia.options[i].value=mis_provincias[i] 
         	document.f1.provincia.options[i].text=mis_provincias[i] 
      	}	
   	}else{ 
      	//si no había provincia seleccionada, elimino las provincias del select 
      	document.f1.provincia.length = 1 
      	//coloco un guión en la única opción que he dejado 
      	document.f1.provincia.options[0].value = "-" 
      	document.f1.provincia.options[0].text = "-" 
   	} 
   	//marco como seleccionada la opción primera de provincia 
   	document.f1.provincia.options[0].selected = true 
}

  function validarCodigoPostal()
  {
    var input = document.getElementById("cp").value;
    console.log(parseInt(input))
    if(input.length == 5 && parseInt(input) >= 1000 && parseInt(input) <= 52999)
    {
      alert("codigo valido");
    }
    else{
      alert("codigo invalido");
     }
  }  
 
  function nif(dni){
	  dni = document.getElementById("dni").value;
	  var ex_regular_dni; 
	  ex_regular_dni = /[0-9]{8}[A-Z]?/g;
	  if(ex_regular_dni.test (dni) == true){
	       alert('Dni corresponde');
	  }else{
	     alert('Dni erroneo, formato no válido');
	   }
	}
  
 </script>
 
<!--  validacion de formularios -->
 <script>
//Example starter JavaScript for disabling form submissions if there are invalid fields
 (function () {
   'use strict'

   // Fetch all the forms we want to apply custom Bootstrap validation styles to
   var forms = document.querySelectorAll('.needs-validation')

   // Loop over them and prevent submission
   Array.prototype.slice.call(forms)
     .forEach(function (form) {
       form.addEventListener('submit', function (event) {
         if (!form.checkValidity()) {
           event.preventDefault()
           event.stopPropagation()
         }

         form.classList.add('was-validated')
       }, false)
     })
 })()
 
 
 </script>
	
</body>
</html>