<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:attr="lang=${#locale}">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/head/head :: default">[Head default]</th:block>
    <th:block th:insert="fragments/head/head :: datatable">[Head datatable]</th:block>
	<th:block th:insert="fragments/head/head :: notification">[Head notification]</th:block>
	<th:block th:insert="fragments/head/head :: form">[Head Form]</th:block>
	<th:block th:insert="fragments/head/head :: app">[Head app]</th:block>
</head>

<body class="overflow-y-auto">
	<div th:replace="fragments/headers/header">[Cabecera]</div>
	<div class="container-fluid px-6 px-md-11 py-10">
		<div class="row">
	    	<nav th:replace="fragments/menu/navbar-menu">[Menu]</nav>	
	    </div>
		<!-- <div layout:fragment="content">[Content]</div> -->
			<h2 th:text="#{view.delegation.title}" class="bg-secondary text-primary text-center rounded-3"></h2>
			<br>
			<form name="f1">
			<h3 th:text="#{view.delegation.subtitle1}" class="bg-danger text-white rounded-3"></h3>
				<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col">
						<p>Fecha apertura</p>
						<input class="border border-dark rounded" type="date" id="opendate"  name="#{view.delegation.opendate}" value="#{view.delegation.date}" 
						min="1945-01-01" max="2022-12-31">
						</div>
						<div class="col">
						<p>Pais</p>
						<select class="form-select border border-dark rounded" id="country" onchange="cambia_provincia()">
  						<option value="0" selected>Seleccione pais</option>
  						<option value="1">España</option>
  						<option value="2">Portugal</option>
  						</select>
						</div>
					</div>
					</br>
					
					<div class="row">
						<div class="col">
						<p>Delegacion origen</p>
						<input class="border border-dark rounded" type="text" id="delegationorigin" name="delegationorigin" th:value="#{view.delegation.delegationorigin}">
						</div>
						<div class="col">
						<p>Delegacion destino</p>
						<input class="border border-dark rounded text-muted"  type="text" id="delegationdestiny" placeholder="Introduce 3 digitos" maxlength="3" name="delegationdestiny" th:value="#{view.delegation.delegationdestiny}">
						</div>
					</div>
					</br>
				</div></br>
				
			<h3 th:text="#{view.delegation.subtitle2}" class="bg-danger text-white rounded-3"></h3>
				<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col">
						<p>Nombre delegacion</p>
						<input class="border border-dark rounded" type="text" id="delegationname" name="delegationname" th:value="#{view.delegation.namedelegation}">
						</div>
						<div class="col">
						<p>Direccion</p>
						<input class="border border-dark rounded" type="text" id="delegationadress" name="delegationadress" th:value="#{view.delegation.adress}">
						</div>
					</div></br>
					<div class="row">
						<div class="col">
						<p>Poblacion</p>
						<input class="border border-dark rounded" type="text" id="city" name="city" th:value="#{view.delegation.city}">
						</div>
						<div class="col">
						<p>CP</p>
						<input class="border border-dark rounded" type="text" id="cp" name="cp" th:value="#{view.delegation.cp}" onchange="validarCodigoPostal()">
						</div>
					</div></br>
					<div class="row">
						<div class="col-6">
						<p>Provincia</p>
						<select class="form-select border border-dark rounded" name="provincia">
	  						
	  						<option value="-">Seleccione una provincia		
	  									 						
						</select>
						</div>
					</div></br>
										
					<div class="row">
						<div class="col">
						<p>Nif/dni</p>
						<input type="text" name="dni" id="dni" placeholder="DNI" maxlength="9" tabindex="4" 
						class="input-2 border border-dark rounded" onkeypress="return soloLetrasNumeros(event);">
						</div>
						<div class="col">
						<p>Horario atencion</p>
						<input class="border border-dark rounded" type="text" id="time" name="time" th:value="#{view.delegation.time}">
						</div>
					</div></br>
					
					<div class="row">
						<div class="col">
						<p>Geo latitud</p>
						<input class="border border-dark rounded" type="text" id="geolat" name="geolat" th:value="#{view.delegation.geolat}">
						</div>
						<div class="col">
						<p>Geo longitud</p>
						<input class="border border-dark rounded" type="text" id="geolong" name="geolong" th:value="#{view.delegation.geolong}">
						</div>
					</div></br>					
					<div class="row">
						<div class="col">
						<input type="checkbox" id="reexpedir" name="reexpedir" th:text="Reexpedir">
						</div>
						<div class="col">
						<input type="checkbox" id="recoger" name="recoger" th:text="Recojer">
						</div>
					</div></br>
					
				</div></br>
			<h3 th:text="#{view.delegation.subtitle3}" class="bg-danger text-white rounded-3"></h3>
					<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col">
							<p>Alta usuario</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios"></textarea>
							</div>
						</div>
						<div class="col">
							<p>Alta conductores</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios"></textarea>
							</div>
						</div>
					</div></br>
					<div class="row">
						<div class="col">
							<p>Alta usuario SGP</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios SGP"></textarea>
							</div>
						</div>
						<div class="col">
							<p>Alta usuario supervisores SGP</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta usuarios supervisores SGP"></textarea>
							</div>
						</div>
					</div></br>
					<div class="row">
						<div class="col-6">
							<p>Alta rutas SGP</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Alta rutas SGP"></textarea>
							</div>
						</div></div></br>
					</div></br>
			<h3 th:text="#{view.delegation.subtitle4}" class="bg-danger text-white rounded-3"></h3>
					<div class="container-fluid border border-success rounded-3">
					<div class="row">
						<div class="col">
							<p>CP a migrar</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="CP a migrar"></textarea>
							</div>
						</div>
						<div class="col">
							<p>Rutas a migrar SGP</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Rutas a migrar SGP"></textarea>
							</div>
						</div>
					</div></br>
					<div class="row">
						<div class="col">
							<p>Clientes a migrar</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Clientes a migrar"></textarea>
							</div>
						</div>
						<div class="col">
							<p>Equivalencia conductores</p>
							<div class="input-group">							
  							<textarea class="form-control" aria-label="Equivalencia conductores"></textarea>
							</div>
						</div>
					</div></br>
					</div>
					</form></br>
	</div>
	<div class="d-flex justify-content-end">
	<button type="button" class="btn btn-light rounded-3">Cancelar</button>
	</div>
	<div class="d-flex justify-content-end">
	<button type="submit" class="btn btn-primary rounded-3">Aceptar</button>
	</div>
	<div th:replace="fragments/footers/footer">[Pie]</div>	
	</br>	
	
<script>
  var provincias_1=new Array("-","Asturias","Albacete","Alicante","Almeria","Alava","Avila",
		  "Badajoz","Baleares","Barcelona","Bizkaia","Burgos","Caceres","Cadiz","Cantabria",
		  "Castellon","Ciudad real","Cordoba","La Coruña","Cuenca","Guipuzkoa","Girona",
		  "Granada","Guadalajara","Huelva","Huesca","Jaen","Leon","Lleida","Lugo","Madrid",
		  "Malaga","Murcia","Navarra","Ourense","Palencia","Las Palmas","Pontevedra","La Rioja",
		  "Salamanca","Santa Cruz de Tenerife","Segovia","Sevilla","Soria","Tarragona","Teruel",
		  "Toledo","Valencia","Valladolid","Zamora","Zaragoza","Ceuta","Melilla");
					

  var provincias_2=new Array("-","Valença","Viana","Braga","Barcelos","Guimarães","Porto",
		  "Penafiel","Bragança","Miranda","Moncorvo","Vila Real","Feira","Aveiro","Lamego",
		  "trancoso","Pinhel","Guarda","Linhares","Viseu","Castelo branco","Arganil","Coimbra",
		  "Leiria","Ourem","Cinco Vilas","Tomar","Santarém","Alcobaça","Alenquer",
		  "Torres Vedras","Ribatejo","Lisboa","Setubal","Crato","Portalegre","Vila Viçosa",
		  "Avis","Elvas","Évora","Beja","Ourique","Lagos","Faro","Tavira");
 
  var todasProvincias = [
    [],
    provincias_1,
    provincias_2,
  ];

  function cambia_provincia(){ 
   	//tomo el valor del select del pais elegido 
   	var country 
   	country = document.f1.country[document.f1.country.selectedIndex].value 
   	//miro a ver si el pais está definido 
   	if (country != 0) { 
      	//si estaba definido, entonces coloco las opciones de la provincia correspondiente. 
      	//selecciono el array de provincia adecuado 
      	mis_provincias=todasProvincias[country]
      	//calculo el numero de provincias 
      	num_provincias = mis_provincias.length 
      	//marco el número de provincias en el select 
      	document.f1.provincia.length = num_provincias 
      	//para cada provincia del array, la introduzco en el select 
      	for(i=0;i<num_provincias;i++){ 
         	document.f1.provincia.options[i].value=mis_provincias[i] 
         	document.f1.provincia.options[i].text=mis_provincias[i] 
      	}	
   	}else{ 
      	//si no había provincia seleccionada, elimino las provincias del select 
      	document.f1.provincia.length = 1 
      	//coloco un guión en la única opción que he dejado 
      	document.f1.provincia.options[0].value = "-" 
      	document.f1.provincia.options[0].text = "-" 
   	} 
   	//marco como seleccionada la opción primera de provincia 
   	document.f1.provincia.options[0].selected = true 
}

  function validarCodigoPostal()
  {
    var input = document.getElementById("cp").value;
    console.log(parseInt(input))
    if(input.length == 5 && parseInt(input) >= 1000 && parseInt(input) <= 52999)
    {
      alert("codigo valido");
    }
    else{
      alert("codigo invalido");
     }
  }
  
 </script>
	
</body>
</html>