<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-search}">
<meta charset="utf-8">
<body>
	<div layout:fragment="content" th:remove="tag">		
			<div class="row">
				<div class="col-12 border-bottom py-3 mb-4">
					<h2 align="center" th:text="#{view.register.search.title}"></h2>
				</div>
			</div>
				
			<div class="overflow-y-auto">
		
			<div class="row container-fluid px-6 px-md-11 py-10">
		
			<div align="center" class="text-warning border border-dark col-md-6 p-10">
			<span>Fecha apertura: </span><br/>
			<span>Pais:</span><br/>
			<span>Delegacion origen:</span><br/>
			<span>Delegacion destino:</span><br/>
			<span>Nombre delegacion:</span><br/>
			<span>Direccion:</span><br/>
			<span>Poblacion:</span><br/>
			<span>CP España/Portugal:</span><br/>
			<span>Provincia:</span><br/>
			<span>Nif/Dni:</span><br/>
			<span>Horario apertura:</span><br/>
			<span>Horario cierre:</span><br/>
			<span>Latitud:</span><br/>
			<span>Longitud:</span><br/>
			<span>Reexpedir:</span><br/>
			<span>Recoger:</span><br/>
			<span>Alta usuarios:</span><br/>
			<span>Alta conductores:</span><br/>
			<span>Alta usuarios SGP:</span><br/>
			<span>Alta usuarios supervisores SGP:</span><br/>
			<span>Alta rutas SGP:</span><br/>
			<span>Alta CP a migrar:</span><br/>
			<span>Rutas a migrar SGP:</span><br/>
			<span>Clientes a migrar:</span><br/>
			<span>Equivalencia conductores:</span><br/>
			</div>
	</div>	
	</div>					
	
				
<!-- 				<div class="col-12 py-3 mb-4">					 -->
<!-- 					<div th:replace="fragments/register/registerSearchFilter">[Search Filter]</div> -->
<!-- 				</div> -->
<!-- 				<div th:replace="fragments/register/registerSearchResult">[Search Result]</div> -->
	</div>
			
	
</body>
</html>